@import "tailwindcss";


html, body {
    overflow-x: clip;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;

  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    max-height: fit-content;

  }
    